
@{
    ViewData["Title"] = "CMSUserList";
}

<style>
    .button-container {
        float: right;
        margin: 5px 0px;
    }
</style>

<div id="vc_app">
    <div class="container-fluid" id="appD">
        <div class="card mt-2">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h5 class="mr-auto">CMS User List</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <div style="overflow-x: auto;">
                        <div class="button-container">
                            <button type="button" class="btn btn-outline-info btn-sm" @@click="AddBillboard">Add CMS User</button>

                        </div>

                        <table class="table table-bordered table-striped" id="gameTable" style="table-layout: fixed;">
                            <thead>
                                <tr>
                                    <th>User Code</th>
                                    <th>User Name</th>
                                    <th>Password</th>
                                    <th style="width:7%">Status</th>
                                    <th style="width:7%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in CMSuserList" :key="item.id">
                                    <td>{{ item.userCode }}</td>
                                    <td>{{ item.username }}</td>
                                    <td>{{ item.password }}</td>
                                    <td>
                                        <span v-if="item.isBlock==true" class="label label-warning">Blocked</span>
                                        <span v-if="item.isBlock==false" class="label label-success">Active</span>
                                    </td>
                                    <td>
                                        <a href="javascript:;" v-on:click="editGame(item)"><i class="far fa-edit"></i></a>
                                       @*  <a href="javascript:;"><i class="fas fa-trash"></i></a> *@
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>


        <div class="modal" id="mdl_game" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">CMS User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <form action="javascript:;" data-vv-scope="frmgame">
                                    <div class="form-row">


                                        <b-alert show dismissible variant="danger" v-if="errors.length > 0">
                                            <span v-for="error in errors" :key="error">
                                                {{error}},
                                            </span>
                                        </b-alert>

                                        <div class="row col-12">                                     

                                            <div class="col">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span style="font-size:14px" class="input-group-text">User Name</span>
                                                    </div>
                                                    <input type="text" class="form-control" required v-model="itemG.username">
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span style="font-size:14px" class="input-group-text">Password</span>
                                                    </div>
                                                    <input type="text" class="form-control" required v-model="itemG.password">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row col-12">
                                          
                                            <div class="col">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" v-model="itemG.isBlock" id="isactiveCheckbox">
                                                    <label style="margin-left:20px" class="form-check-label" for="isactiveCheckbox">
                                                        Is Block
                                                    </label>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" v-on:click="UpdateGame"><i class="far fa-save"></i> Save</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
@section scripts{
    <script>
        var app = new Vue({
            el: '#vc_app',
            data() {
                return {
                    selectedGamePortal: 1,
                    billboardData: [],
                    searchTerm: '',
                    itemG: {},
                    games: [],
                    gameSearchTerm: '',
                    lastSelectedGame: '',
                    CMSuserList: [],
                    errors: [],

                };
            },

            computed: {
            },
            methods: {
                getData() {
                    helper.get('/User/GetCMSUser',
                        {},
                        (response) => {
                            console.log(response);
                            this.CMSuserList = response;
                        });
                },
                editGame(game) {
                    this.itemG = game;
                    $('#mdl_game').modal('show');

                },

                AddBillboard() {
                    this.itemG = {};
                    $('#mdl_game').modal('show');
                },

                getGameCategory() {
                    helper.get('/game/GetGameCategory',
                        {},
                        (response) => {
                            console.log(response);
                            this.gateCategoryList = response;

                        });
                },
                UpdateGame() {

                    if (!this.itemG.username) {
                        this.errors.push('User  name required');
                    }
                    else if (!this.itemG.password) {
                        this.errors.push('Password required');
                    }else{
                        helper.post('/User/SaveCMSuser', this.itemG, (response) => {
                            if (response) {
                                this.getData();
                                this.errors= 0; 
                                $('#mdl_game').modal('hide');
                               

                            }
                            else {
                                $.notify(response.message, 'error');
                            }
                        });
                    }                 
                },
            },

            mounted() {
                this.getData();
                // this.getGameCategory();
            },

        });
    </script>
}


